body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
}
header .contenedor{
    display: flex;
justify-content: space-between;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none; /*no quiero que tenga ningun estilo en la lista*/
margin-right: 15px; /*margen a la derecha */
}
a{
    text-decoration: none; /*ningun elemento "a" tiene subrayado*/
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
header {
    background: linear-gradient(rgba(84,93,220,.9),rgba(96,171,245,.9)),url(imagenes/1.jpg);
    height: 100vh;
    background-size: cover;/*adapta la imagen al ancho de nuestra pantalla*/
}
#contenedor-titulo-flex{
    max-width: 1580px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 18vh 0; /*que baje el 18% de la ventana*/
}
h1{
    font-size: 60px; /*tamaño de fuente */
    color: #fe346e; /*color de la letra "h1" */
margin: 0; /*separa el elemento de otros elementos a su alrededor */
}
h2{
    font-size: 19px; /*tamaño de la fuente */
    color: #f1e7b6;
}
.contenedor-titulo a, #sobre-mi a{
    font-size: 14px; /*tamaño del titulo "a" */
    color: #fe346e; /*color contenedor titulo "a"*/
background: #f1e7b6; /*color de fondo del boton*/
padding: 14px 24px; /*es el espaciado interno del elemento (para hacerlo mas grande) */
text-align: center; /* sirve para centrar el boton */
width: 128px; /*le da un ancho fijo */
display: inline-block; /*le aplica al elemento en linea propiedades del elemento de bloque */
}
.contenedor-titulo{
    text-align: center;
}
p.logo {
    color: #fe346e;
    font-size: 20px; /*tamaño del titulo "a" */
}
nav ul li a{
    color: #fe346e;
}

/*SECCION DE SOBRE MI */

H3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    color: #fe346e;
    
}
#sobre-mi .contenedor-sobremi{
    display: flex;
}
#sobre-mi .texto{
    width: 42%;
    color: #fe346e;
        
/*separar para no estar juntos */
}
/*seccion servicios*/
.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fe346e;
    background: #f1e7b6;
}
.servicio{
    padding: 34px 30px 38px 30px; /*sirve para aumentar el tamaño interno del elemento */
    width: 24%; /*achicar */
    border-radius: 10px; /*bordes del radio "le da bordes a la caja*/
margin-bottom: 40px; /* le da el margen de abajo para separar */
position: relative;
}

.servicio h4{
    font-size: 30px; /* esta agrandando "h4" */
    margin: 0;
}
.servicio p{
    margin-bottom: 20px;
}
.contenedor-servicios .violeta {
    background: linear-gradient(to top, #5055df, #6d68f3);
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}
.contenedor-servicios .celeste {
    background: linear-gradient(to top, #40a8f9, #5cb8ff);
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}
.ondas{
    position: absolute;
    left: 0; /*le esta diciendo que valla a la posicion 0 de la izquierda */
    bottom: 0;
}
.icono{
    float: right; /* esta propiedad flotar el contenido hacia la derecha*/
}
